scss
.dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
  margin-bottom: 50px;
}

.stat-card {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.action-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tracking-actions {
  display: flex;
  gap: 30px;
  
  ion-button {
    --border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}
