.stats-container {
  margin-bottom: 20px;
}

.stat-label {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
}

.stat-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-btn {
  margin-top: 15px;
  height: 60px;
  font-size: 1.1rem;
}

.controls {
  margin-top: 30px;
}

.timeline {
  margin-top: 20px;
}
